{% extends 'base.html' %}


{% block body %}

<div class="container-fluid">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row d-flex " style="background-color: rgb(103, 175, 220);color:#000000;width:100%;margin: auto;">
        <div class="col-5 ">Ledger Vouchers</div>
        <div class="col-5" style="font-weight:600 ;text-transform:capitalize;">{{company.name}}</div>
        <div class= 'col-2'><a href="javascript:history.go(-1);">
          <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times" style="color: black;"></i></span></a>
        </div> 
      </div>
      <div class="row d-flex mt-3 mb-3 " >
        <div class="col-10 ">Ledger : {{ledger.name}}</div>
        <div class="col-2" style="font-weight:600 ;text-transform:capitalize;">{{startdate  |date:'d-M-Y'}} to 30-Apr-2023</div>
        
      </div>

      <div class="table-responsive">
        <table class="table  table-bordered border-dark " style="background-color: rgba(33,57,77,255);color:#fff;">
          <thead>
            <tr>
              <th  class="text-center text-white">Date</th>
              <th  class="text-center text-white">Particulars</th>
              <th  class="text-center text-white">Vch Type</th>
              <th  class="text-center text-white">Vch No</th>
              <th  class="text-center text-white">Debit</th>
              <th  class="text-center text-white">Credit</th>
            </tr>
            
          </thead>
          <tbody>
              
            <tr  class="trhover">                               
              <td class="text-white"><a href="{% url 'trialbalance_voucher_alter' %}">test</a></td>
              <td class="text-center text-white"></td>
              <td class="text-center text-white"></td>
              <td class="text-center text-white"></td>
              <td class="text-center text-white"></td>
              <td class="text-center text-white"></td>
            </tr>
            
          
            <tr>
              <th colspan="4" class="text-white" style="text-align: end;border-bottom: none;">Opening Balance :</th>
              <th class="text-center text-white">{{ sum2 }}</th>
              <th class="text-center text-white">{{ sum1 }}</th>
            </tr>
            <tr>
              <th colspan="4" class="text-white" style="text-align: end;border-top: none;">Current Total :</th>
              <th class="text-center text-white">{{ sum2 }}</th>
              <th class="text-center text-white" >{{ sum1 }}</th>
            </tr>
            <tr>
              <th colspan="4" class="text-white" style="text-align: end;">Closing  Balance :</th>
              <th class="text-center text-white">{{ sum2 }}</th>
              <th class="text-center text-white">{{ sum1 }}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
    .trhover:hover{
        background-color: rgb(31, 40, 68);
    }
</style>
{% endblock %}
