{% extends 'base.html' %}


{% block body %}

<div class="container-fluid">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row d-flex " style="background-color: rgb(103, 175, 220);color:#000000;width:100%;margin: auto;">
        <div class="col-5 ">Accounting Voucher Alteration(Secondary)</div>
        <div class="col-5" style="font-weight:600 ;text-transform:capitalize;">{{company.name}}</div>
        <div class= 'col-2'><a href="javascript:history.go(-1);">
          <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times" style="color: black;"></i></span></a>
        </div> 
      </div>
      <div class="row d-flex mt-3 mb-3 " >
        <div class="col-md-2 ">Voucher Type : {{voucher.voucher_type|capfirst}}</div>
        <div class="col-md-8 ">No : {{voucher.voucher_no}}</div>
        <div class="col-md-2" style="text-transform:capitalize;">{{startdate  |date:'d-M-Y' }} , {{day}}</div>
        
      </div>
      <div class="row mb-3">
        <div class="col">Account : {{voucher.account|capfirst}}</div>
        
      </div>
      

      <div class="table-responsive">
        <table class="table  table-bordered border-dark " style="background-color: rgba(33,57,77,255);color:#fff;">
          <thead>
            <tr>
              
              <th  class="text-center text-white">Particulars</th>
              <th  class="text-center text-white">Amount</th>
              
            </tr>
            
          </thead>
          <tbody>
              
            <tr  class="trhover">                               
              <td class="text-white">{{voucher.particulars}}</td>
              {% if voucher.debit %}
              <td class="text-center text-white">{{voucher.debit}}</td>
              {% else %}
              <td class="text-center text-white">{{voucher.credit}}</td>
              {% endif %}
              
            </tr>
            <tr>
              <th colspan="1" class="text-white" style="text-align: end;">Total :</th>
              {% if voucher.debit %}
              <th class="text-center text-white">{{voucher.debit}}</th>
              {% else %}
              <th class="text-center text-white">{{voucher.credit}}</th>
              {% endif %}

            </tr>
            
          
            
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col">Narration :</div>
      </div>
    </div>
  </div>
</div>

<style>
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  .trhover:hover{
    background-color: rgb(31, 40, 68);
  }
</style>
{% endblock %}
